body{
    background-color: #d1f1fa;
    margin: 0;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 509px;
    width: 100%;
    height: 534px;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box;
}


.logo{
    padding-top: 40px;
}

.text{
    font-family: "Nunito Sans", sans-serif;
    font-size: 24px;
    color: #08253F;
    font-weight: bold;
    padding-top: 60px;
}

.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 21px;
    width: 100%;
}

input::placeholder {
    color: #08253F;
    opacity: 0.3;
}

.email-field, .password-field{
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    background-color: #F6F6F6;
    width: 437px;
    height: 52px;
    padding-left: 15px;
    border-radius: 9px;
    border: none;
}

.password-flex{
    margin-top: 15px;
    position: relative;
}

.security-logo{
    position: absolute;
    cursor: pointer;
    right:12px;
    top: 12px;
}

.forget-pass{
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color: #0D3A63;
    padding-top: 8px;
    align-self: flex-end;
    text-align: end;
    padding-right: 2px;
}

.btn{
    width: 296px;
    height: 50px;
    font-family: "Nunito Sans", sans-serif;
    font-size: 17px;
    font-weight: bold;
    color:whitesmoke;
    background-color: #0D3A63;
    margin-top: 40px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button-field{
    display: flex;
    justify-content: center;
    width: 100%; 
}

.footer{
    font-family: "Nunito Sans", sans-serif;
    font-size: 14px;
    color: #08253F;
    position: fixed;
    bottom: 16px;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 460px)
{
    .email-field, .password-field{
        width: 94vw;
    }
}

@media (max-width: 340px)
{
    .email-field, .password-field{
        width: 92vw;
    }

    .logo img{
        height: 66px;
        width: 170px;
    }
    
    .text{
        font-size: 20px;
        padding-top: 40px;
    }
}